{% extends 'network/layout.html' %}

{% load static %}

{% block script %}
    <script src="{% static 'network/script.js' %}"></script>
{% endblock %}

{% block body %}
    <script>
        function editHandler(id) {
            if (document.querySelector(`#edit_post_${id}`).value == "") {
                const errorMessage = document.createElement('p');
                errorMessage.innerHTML = "You can't post an empty post!";
                console.log(errorMessage)
                document.querySelector('.modal-body').appendChild(errorMessage);
                return;
            }
            fetch(`/edit/${id}`, {
                method: 'PUT',
                body: JSON.stringify({
                    content: document.querySelector(`#edit_post_${id}`).value
                })
            })
            .then((response) => response.json())
            .then(post => {
                console.log(post);
                $(`#editModal_${id}`).modal('hide')
                document.querySelector(`#post_${id}_content`).textContent = post.data.content;
              });
            }

        function likeHandler(id, liked) {
            fetch(`/like/${id}`, {
                method: 'PUT',
                body: JSON.stringify({
                    like: liked
                })
            })
            .then((response) => response.json())
            .then(post => {
                console.log(post);
                document.querySelector(`#post_${id}_likes`).textContent = `Likes: ${post.data.likes}`;
              });
            }
    </script>

    <h1 style="margin-left: 20px;">All Posts</h1>
    {% if user.is_authenticated %}
        <div class="posts" style="margin-left: 20px; margin-right: 20px;">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'create' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group" id="createPost-form">
                            <h3><label for="new-post">New Post</label></h3>
                            <textarea class="form-control" id="new-post" name="content" rows="3"></textarea>
                        </div>
                        <input class="btn btn-primary" type="submit" id="post-button" value="Post">
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="posts" style="margin-left: 20px; margin-right: 20px;">
        {% for post in posts %}
        <br>
            <div class="card">
                <div class="card-body">
                    <a id="profile" href="{% url 'profile' post.poster.username %}" class="card-link"><h4 class="card-title">{{ post.poster }}</h4></a>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.creationDate }}</h6>
                    <p class="card-text" id="post_{{ post.id }}_content">{{ post.content }}</p>
                    <a class="card-text" id="post_{{ post.id }}_likes">Likes: {{ post.likes.count }}</a>
                    {% if user.is_authenticated %}
                        <button style="margin-left: 20px; padding: 0; border: none; background: none;" class="card-link" onclick="likeHandler({{ post.id }}, 1)"><i class="fa-regular fa-thumbs-up"></i></button>
                        <button style="padding: 0; border: none; background: none;" class="card-link" onclick="likeHandler({{ post.id }}, -1)"><i class="fa-regular fa-thumbs-down"></i></i></button>
                    {% endif %}
                    {% if user.username == post.poster.username %}
                        <br>
                        <button style="margin-top: 10px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal_{{ post.id }}">Edit post</button>
                        <div class="modal fade" id="editModal_{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel">Edit post</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form id="edit-form">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <textarea class="form-control" id="edit_post_{{ post.id }}" name="content" rows="3">{{ post.content }}</textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button class="btn btn-primary" type="button" id="post-button" onclick="editHandler({{ post.id }})">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="pag-div" style="margin-left: 20px;">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First page</a></li>
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous Page</a></li>
                {% endif %}
                <li class="page-item disabled"><a class="page-link">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</a></li>
                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next Page</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">Last Page &raquo;</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}