{% extends 'network/layout.html' %}

{% block body %}
    <div id="profile-page">
        <div id="profile" class="card" style="margin-left: 20px; margin-right: 20px;">
            <div class="card-body">
                <h1 class="card-title">{{ profile.username }}</h1>
                <h6 class="card-subtitle mb-2 text-muted">Followers: {{ profile.follower.count }} &nbsp; Following: {{ profile.following.count }}</h6>
                {% if request.user.username != profile.username and user.is_authenticated %}
                    <form {% if isFollowing %} action="{% url 'unfollow' profile.username %}" {% else %} action="{% url 'follow' profile.username %}" {% endif %} method="post">
                        {% csrf_token %}
                        <input type="submit" {% if isFollowing %} class="btn btn-danger btn-sm" value="Unfollow" {% else %} class="btn btn-primary btn-sm" value="Follow" {% endif %}>
                    </form>
                {% endif %}
            </div>
            <div id="posts" style="margin-left: 20px; margin-right: 20px; margin-bottom: 20px;">
                <h4>Posts</h4>
                {% for post in posts %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.poster }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ post.creationDate }}</h6>
                            <p class="card-text">{{ post.content }}</p>
                            <p class="card-text">Likes: {{ post.lokes|length }}</p>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}